# Use this file to configure the Overcommit hooks you wish to use. This will
# extend the default configuration defined in:
# https://github.com/sds/overcommit/blob/master/config/default.yml
#
# At the topmost level of this YAML file is a key representing type of hook
# being run (e.g. pre-commit, commit-msg, etc.). Within each type you can
# customize each hook, such as whether to only run it on certain files (via
# `include`), whether to only display output if it fails (via `quiet`), etc.
#
# For a complete list of hooks, see:
# https://github.com/sds/overcommit/tree/master/lib/overcommit/hook
#
# For a complete list of options that you can use to customize hooks, see:
# https://github.com/sds/overcommit#configuration

PreCommit:
  ALL:
    quiet: false

  TrailingWhitespace:
    enabled: true
    exclude:
      # Exclude a bunch of rails files (non-default)
      - app/assets/javascripts/plugin/**/*.js
      - app/assets/javascripts/smartwidgets/**/*.js
      - app/assets/javascripts/app.config*
      - app/assets/stylesheets/**/*.scss
      - app/assets/fonts/**/*
      - app/assets/images/**/*
      - app/views/ajax/data_list.json.erb

PrepareCommitMsg:
  ALL:
    quiet: false

  ReplaceBranch:
    enabled: true
    description: 'Prepends the commit message with text based on the branch name'
    branch_pattern: '\A(\d+)-(\w+[-_]*.*)\z'
    replacement_text: '[#\1]'
    skipped_commit_types: ['message', 'squash']

    # Remove this to _not_ fail when missing a number in the branch name
    on_warn: fail

CommitMsg:
  ALL:
    quiet: false

  PreventTmpCommits:
    description: 'Prevents commits with temp-style subjects'
    excludes_pattern: '(\[#\d+\])'
    enabled: true

  CapitalizedSubject:
    enabled: false

  EmptyMessage:
    enabled: true

  HardTabs:
    enabled: true

  SingleLineSubject:
    enabled: true

  SpellCheck:
    enabled: true

  TextWidth:
    enabled: true
    max_subject_width: 50
    max_body_width: 72

  TrailingPeriod:
    enabled: true
